@font-face {
	font-family: necroFonticon;
	src: url('https://cdn.rawgit.com/Jaymzmobile/necrofonticon-Alch-Survey-Host/raw/refs/heads/main/necrofonticon.ttf');
	font-weight: 100;
	font-style: normal;
}
